body {
    background-color: green;
    border: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header > section#main {
    background-image: url("./../assets/images/hero.gif");
    background-size: cover;
    height: 650px;
    width: 100%;
}

/* ----- HEADER -----*/ 
header > section:first-child {
    background: linear-gradient(#76278F, #2B1E66);
    box-sizing: content-box;
    display: inline-flex;
    float: right;
    text-align: center;
    padding: 2ex 0 2ex 0;
    position: fixed;
    top: 0;
    width: 100%;
}

header > section:first-child > h1 > img {
    height: 45px;
    padding: 0 28em 0 6em;
    width: 60px;
}

header > section > nav > ul > li {;
    color: white;
    display: inline;
    font-size: 1em;
    padding-right: 2em;
    margin-top: 5em;
    text-decoration: none;
}

header > section > nav > ul > li:hover {
    color: #ff00bf;
}

header > section > nav > ul > li:last-child {
    border: 1px solid white;
    border-radius: .5em;
    justify-content: center;
    padding: .8em 1.5em .8em 1.5em;
}

header > section > nav > ul > li:last-child:hover {
    border: 1px solid #ff00bf;
}

/* ----- ASIDE ----- */
header > section#main > aside {
    background-color: white;
    border-right: 5px solid white;
    box-sizing: border-box;
    margin: 8em 0 0 50.5em;
    padding: 2.2em 2.5em 2.2em 2.5em;
    width: 40%;
}

header > #main > aside > h2 {
    color: #352384;
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
}

header > #main > aside > h4 {
    color: #352384;
    font-weight: lighter;
    letter-spacing: .2em;
    margin: 0;
    padding-top: .5em;
}

header > #main > aside > form > input {
    border: none;
}

header > #main > aside > form > input#mobile-number {
    border-bottom: 1px solid #352384;
    color: #728099;
    font-size: .9em;
    font-weight: lighter;
    padding-bottom: .3em;
    width: 100%;
}

header > #main > aside > form > button#driver {
    justify-content: center;
    background-color: #ff00bf;
    border: none;
    border-radius: 10px;
    color: white;
    display: inline;
    justify-content: center;
    font-size: 1em;
    font-weight: lighter;
    padding: 1.3em 1.3em;
    width: 47%;
}

header > #main > aside > form > button#client {
    justify-content: center;
    background-color: white;
    border: none;
    color: rgb(59, 58, 58);
    display: inline;
    justify-content: center;
    font-size: 1em;
    margin: 0;
    padding: 1.3em 1em;
    text-decoration: underline;
    width: 47%;
}

header > #main > aside > span {
    color: #728099;
    font-size: 70%;
    padding: 1em 0 1em 0;
}

/* ----- SECTION PRESENTATION ----- */
#presentation {
    background: linear-gradient(#76278F, #2B1E66);
    box-sizing: content-box;
    color: white;
    display: inline-flex;
    padding: 3.5em 0 3.5em 0;
    width: 100%;
}

#presentation > article {
    width: 50%;
}

#presentation > img {
    height: 50%;
    right: 3em;
    width: 40%;
}

#presentation > article > h2 {
    font-size: 1.7em;
    padding: 0 0 .5em 6em;
    margin: 0;
}

#presentation > article > p {
    padding: 0 0 1em 10.5em;
    line-height: 1.5em;
    margin: 0;
}

/* ----- SECTION VIDEOS ----- */
.videos {
    box-sizing: content-box;
    display: inline-flex;
}

.videos article {
    background-color: white;
    padding: 1em 6.5em 1em 6.5em;
    width: 25%;
}


.videos  iframe {
    border: none;
    height: 55ex;
    width: 60%;
}  

.videos > article > h2, h4 {
    margin: 0;
}

.videos > article > h2 {
    font-size: 1.7em;
    font-weight: bolder; 
}

/* ----- SECTION FOOTER  ----- */
footer > * {
    background: #333447;
    box-sizing: border-box;
    color: white;
    display: inline-flex;
    position: absolute;
    width: 100%;
}

footer > #info {
    position: absolute;
    width: 75%;    
}

footer > #info > nav {
    display: inline-flex;
    padding-left: 1em;
    width: 15em;
}

footer > #info > nav:first-child {
    padding-left: 15em;
}

footer #info nav ul {
    padding: 1.5em;
    width: 100%;
}

footer #info nav > * {
    text-decoration: none;
}

footer > #info > nav > ul > li, h3 {
    padding: .8em 0 .8em 0;
    text-align: center;
    text-decoration: none;
}

footer > #info > nav > ul > li:hover, h3:hover {
    color: #ff00bf;
    text-decoration: underline;
}

footer > #info > nav > ul > li {
    font-weight: lighter;
    display: block;
}

#apps-store {
    box-sizing: border-box;
    display: inline-flex;
    float: right;
    position: relative;
    width: 25%;
}

footer > #apps-store > nav > img {
    display: block;
    height: 3em;
    padding: 1.5em 0 1.5em 1.5em;
}

footer > #apps-store > nav > img:first-child {
    display: block;
    height: 3em;
    padding-top: 4.5em;
}

footer > #apps-store > nav > img:last-child {
    padding-bottom: 2.8em;
}

#social-media {
    box-sizing: border-box;
    display: inline;
    margin-top: 21.5em;
    padding: 2em 0 2em 3em;
    text-align: center;
    width: 100%;
}

.icon {
    border: 1px solid white;
    border-radius: 100%;
    color: white;
    display: inline-block;
    fill: currentColor;
    height: 1.5em;
    margin: 0 2.5em 0 0;
    padding: .5em;
    stroke: currentColor;
    width: 1.5em;
}

#terms {
    border: 0;
    box-sizing: border-box;
    display: inline;
    margin-top: 27.5em; 
    padding: 2.5em 0 1.5em 0;
    text-align: center;
    width: 100%;
}
 
#terms > p, span {
    display: inline;
    padding: .5em 1.5em 0 1em;
    align-content: center;
}

#terms > span:hover {
    color: #ff00bf;
}